.header {
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.header > mat-form-field
{
  flex: 0.33 0.33 auto;
  margin:5px 50px;
}
