<app-header (searchTermChange)="onSearchTermChange($event)" (sortOptionChange)="onSortOptionChange($event)">
</app-header>
<section class="page">
    <label class="page-info">Total Results:<span> {{userListWithCount?.total_count || 0}}</span></label>
    <app-users-list class="page-user-list" [userListWithCount]="userListWithCount"></app-users-list>
    <mat-paginator *ngIf="userListWithCount?.total_count > 0" class="page-user-list__navigator" [length]="userListWithCount?.total_count" [pageSize]="perPageResults" (page)="onPageChange($event)">
    </mat-paginator>
</section>
